<template>

    <body class="container-fluid">
        <div class="header">

            <h1 class="title">Harmonie Intérieure :<br> <span class="slogan">Voyage vers le Bien-être</span> </h1>
        </div>

    

        
        <div id="news">
            <h2>Nouveautés</h2>
            <hr id="titleline">
        </div>

        <div class="articles">


            <ArticleCard v-for="item of articleThreeList" :article="item"></ArticleCard>

        </div>




        <p>Bienvenue sur notre blog dédié au bien-être et à la forme, où nous croyons fermement que le bonheur commence
            par une alimentation saine et équilibrée. Avec nos catégories
            "Forme & Bien-être" et "Bien choisir ses aliments", nous vous offrons des conseils pratiques, des
            informations pertinentes et des recettes délicieuses pour vous aider à
            atteindre vos objectifs de santé et de bien-être. Que vous cherchiez à adopter de meilleures habitudes
            alimentaires, à trouver des alternatives nutritives ou à simplement
            découvrir de nouvelles recettes savoureuses, ce blog est fait pour vous. Rejoignez-nous dans notre voyage
            vers une vie plus saine et épanouissante !</p>
    <h3>FAQ</h3>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    Quels sont les meilleurs exercices pour améliorer sa forme physique ?
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Les exercices qui combinent cardio et renforcement musculaire, tels que la course à pied, 
                    la natation et la musculation, sont excellents pour améliorer la forme physique globale.
                    De plus, des activités comme le yoga et le Pilates peuvent aider à renforcer les muscles 
                    tout en favorisant la flexibilité et la relaxation.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Comment créer une routine matinale pour bien démarrer la journée ?
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Pour créer une routine matinale efficace, commencez par vous réveiller à une heure régulière 
                    chaque jour et consacrez du temps à des activités qui vous revitalisent, comme la méditation,
                    l'exercice physique léger, la lecture inspirante ou la planification de la journée.
                    Assurez-vous également de prendre un petit-déjeuner équilibré pour nourrir votre corps et votre esprit.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Quels sont les meilleurs moyens de gérer le stress au quotidien ?
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Pour gérer le stress au quotidien, pratiquez des techniques de relaxation telles que la
                    respiration profonde, la méditation, le yoga ou la marche en pleine conscience. 
                    Établissez des limites saines, apprenez à dire non lorsque c'est nécessaire et trouvez 
                    des activités qui vous détendent et vous divertissent, comme écouter de la musique, 
                    passer du temps avec des proches ou pratiquer un hobby.
                </div>
            </div>
        </div>
    </div>
</body>

</template>



<script setup lang="ts">
import ArticleCard from '@/components/ArticleCard.vue';
import type { Articles, Categorie } from '@/entities';
import { fetchAllArticle, fetchThreeLatest, fetchThreeLatestOfCategorie } from '@/service/article-service';
import { fetchAllCategorie } from '@/service/categorie-service';

import { onMounted, ref, watch } from 'vue';
import { useRoute } from 'vue-router';

const route = useRoute()
const articleThreeList = ref<Articles[]>([]);
console.log(fetchAllArticle());

onMounted(async () => {
    articleThreeList.value = await fetchThreeLatest();
});



const categorieList = ref<Categorie[]>([]);
console.log(fetchAllCategorie());

onMounted(async () => {
    categorieList.value = await fetchAllCategorie();
});

</script>

<style scoped>
.title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding: 2rem;
    color: #3264af;
    background: #e9e8d6d2;
    width: 40%;
    border: #091E57 2px solid;
    border-radius: 30px;
    font-size: 2.3rem;

}

.slogan {
    font-style: italic;
    font-weight: 800;
    text-decoration: underline #183279;
}

.header {
    background-image: url(/src/img/header2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

h2 {
    text-align: center;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
}

p {
    margin: 3rem;
    font-size: 1.5rem;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#titleline {
    width: 30%;
    border: 0.0001px solid #091E57;
}

#news {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 2rem;
}
h3{
    text-align: center;
    color: #091E57;
}
@media screen and (min-width:500px) and (max-width:1500px) {

    .title {
        font-size: 2rem;
    }
}

@media screen and (min-width:300px) and (max-width:1100px) {
    .title {
        font-size: 1.5rem;
    }

    p{
        font-size: 1rem;
    }
}

@media screen and (min-width:10px) and (max-width:300px) {

    .title {
        font-size: 1rem;
        padding: 0;
    }
}
</style>