<template>
<body>


    <h1>Tous les articles de la categorie</h1>
    
    <div class="articles">

            <ArticleCard v-for="item of articleOfCategorie" :article="item"></ArticleCard>

    </div>
</body>



</template>

<script setup lang="ts">
import ArticleCard from '@/components/ArticleCard.vue';
import { type Articles } from '@/entities';
import { type Categorie } from '@/entities';
import { fetchAllOfCategorie, fetchOneArticle} from '@/service/article-service';
import { fetchOneCategorie } from '@/service/categorie-service';
import { onMounted, ref, watch } from 'vue';
import { useRoute } from 'vue-router';

const articleOfCategorie = ref<Articles[]>();


const route = useRoute()
watch(() => route.params.id, async () => { 
    articleOfCategorie.value = await fetchAllOfCategorie(route.params.id);

}, {immediate: true});

</script>

<style scoped>
h1{
    text-align: center;
    text-decoration: underline 1px #091E57;
    padding: 2rem 0;
}
.articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 2rem;
}

</style>