<template>

    <form @submit.prevent="handleLogin()">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" v-model="email" placeholder="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" v-model="password" placeholder="your password" class="form-control" id="exampleInputPassword1">
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <p>Vous n'avez pas de compte ? <RouterLink to="/register">Inscrivez-vous</RouterLink> et revenez vous connecter !</p>


</template>

<script setup lang="ts">

import { useAuth } from '@/stores/auth';
import { ref } from 'vue';
import { useRouter } from 'vue-router';

const router = useRouter();
const auth = useAuth();
const email = ref("");
const name = ref("");
const password = ref("");


async function handleLogin() {
    await auth.login(email.value, password.value);
    router.back();
}
</script>