<template>

    <body class="container-fluid">
        <div class="title">
            <h1>{{ article?.title }}</h1> <i id="modification" v-if="auth.user?.role =='ROLE_ADMIN' || article?.user?.id == auth.user?.id"
                class="fa-regular fa-pen-to-square" @click="editing = !editing"></i>
            <hr id="titleline">
        </div>
        <div v-if="!editing">
            <div class="width">
                <img :src="article?.picture" alt="">
                <p id="content">{{ article?.content }}</p>
            </div>
            <div class="card col" v-if="article">
                <div class="card-header">
                    <p>{{ article?.title }} écrit le {{ new Date(article.date).toLocaleString() }}</p>
                </div>
                <div id="footer" class="card-body">
                    <blockquote class="blockquote mb-0">
                        <cite title="Source Title">par {{ article?.user?.name }}</cite>
                        <footer class="blockquote-footer">
                            <p>{{ article?.vue }} vue(s)</p>
                            <i class="fa-regular fa-comment"></i><span class="heart"> ♡</span>
                        </footer>
                    </blockquote>
                </div>
                <button id="supprimer" v-if="auth.user?.role == 'ROLE_ADMIN' || article?.user?.id == auth.user?.id" data-bs-toggle="modal" data-bs-target="#staticBackdrop" >Supprimer l'article</button>
                {{ article.comments }}
            </div>
        </div>
        
        
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">ATTENTION</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Êtes-vous sûre de vouloir supprimer l'article {{ article?.title }} ?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="sure" id="non" data-bs-dismiss="modal" >Non !</button>
                        <button type="button" class="sure" id="oui" data-bs-dismiss="modal" @click="handleDelete()" >Oui !</button>
                    </div>
                </div>
            </div>
        </div>



        <ArticleForm v-if="editing" :initial-article="article" @submit="handleSubmit($event)"></ArticleForm>
    </body>


</template>

<script setup lang="ts">
import ArticleForm from '@/components/ArticleForm.vue';
import type { Articles } from '@/entities';
import { deleteArticle, fetchOneArticle, updateArticle } from '@/service/article-service';
import { useAuth } from '@/stores/auth';
import { onMounted, ref, watch } from 'vue';
import { useRoute, useRouter } from 'vue-router';


const router = useRouter();
const route = useRoute()
const editing = ref(false);
const auth = useAuth();

const article = ref<Articles>()


watch(() => route.params.id, async () => {
    article.value = await fetchOneArticle(route.params.id);
    // updateViewCount(route.params.id)

}, { immediate: true });

async function handleDelete() {
    try {

        await deleteArticle(article.value?.id);
        router.push('/');
    } catch {
        console.log('marche pa');

    }
}

async function handleSubmit(updated: Articles) {
    await updateArticle(updated);
    article.value = updated;
    editing.value = false;
}
// addEventListener


</script>

<style scoped>
body {
    display: flex;
    flex-direction: column;
    align-items: center;

}


h1 {
    font-size: 2rem;
    text-align: center;
}

#titleline {
    width: 70%;
    border: 1px solid #A00B2B;

}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
}

img {
    width: 50%;

}

#content {
    padding: 2% 10%;
}

#card {
    width: 100%;
}

#supprimer{
    background: #7c0303;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 10px;
}

.sure{
    border: none;
    border-radius: 5px;
    padding: 5px;
}


#non{
    background:  #e9e8d6d2;
    color: #091E57;
}
#oui{
    background: #7c0303;
    color: #fff;
    border: none;

}

.width {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#modification{
    cursor: pointer;
}




@media screen and (min-width:10px) and (max-width:300px) {}
</style>