<template>

    <form @submit.prevent="handleRegister()">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" v-model="user.email" placeholder="email" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Your Name </label>
            <input type="text" v-model="user.name" placeholder="name" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" v-model="user.password" placeholder="your password" class="form-control"
                id="exampleInputPassword1">
        </div>

        <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Submit</button>


        <!-- Button trigger modal
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Launch static backdrop modal
        </button> -->

        <!-- Modal -->
        
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Votre inscription a bien été prise en compte</h1>
                        
                        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                    </div>
                    <div class="modal-body">
                        <p><RouterLink to="/login">Connectez-vous</RouterLink> pour la premiere fois !</p>
                    </div>
                    <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-secondary" >Close</button> -->
                        <RouterLink to="/login"><button type="button" data-bs-dismiss="modal" class="btn btn-primary" >Compris !</button></RouterLink>
                    </div>
                </div>
            </div>
        </div>

    </form>


</template>

<script setup lang="ts">

import type { User } from '@/entities';
import { useAuth } from '@/stores/auth';
import { ref } from 'vue';
import { useRouter } from 'vue-router';



const router = useRouter();
const auth = useAuth();
const user = ref<User>({
    email: "",
    name: "",
    password: "",
    role: ""
});
const displaypopup = ref(false);


async function handleRegister() {
    await auth.register(user.value);
    displaypopup.value = true;
    //+pop up
}
</script>

<style scoped>
.card {
    width: 100%;
}
</style>
