<template>

            <div class="card">
        <div class="card-header">
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <footer class="blockquote-footer"><i class="fa-regular fa-heart"></i><cite title="Source Title"></cite>
                </footer>
            </blockquote>
        </div>
        </div> 

</template>

<script setup lang="ts">

</script>

<style scoped>

</style>