<template>
    <div class="row col-lg-5" id="space">
        <div class="col">
            <span class="input-group-text">@ {{ user.user.email }} </span>
        </div>
        <div class="col">
            <i @click="findUser(user.user.id)" data-bs-toggle="modal" data-bs-target="#exampleModal"
                class="fa-regular fa-eye"></i>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">{{ user.user.name }}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <span class="input-group-text">@ {{ user.user.email }}</span>
                        <span class="input-group-text">{{ user.user.name }}</span>
                        <select class="form-select" aria-label="Default select example" v-model="user.user.role">
                            <option selected>{{ user.user.role }}</option>
                            <option value="ROLE_ADMIN">Role ADMIN</option>
                            <option value="ROLE_USER">Role USER</option>
                        </select>

                    </div>
                    <div class="modal-footer">
                        <button type="button" data-bs-dismiss="modal">Partir</button>
                        <button type="button" data-bs-dismiss="modal">Enregistrer les modification</button>
                        <button type="button" @click="handleDelete()" data-bs-dismiss="modal">Supprimer le user</button>
                    </div>
                </div>
            </div>
        </div>
    </div>





</template>

<script setup lang="ts">
import type { User } from '@/entities';
import { deleteUser, fetchOneUser } from '@/service/auth-service';
import { useAuth } from '@/stores/auth';
import { useRouter } from 'vue-router';

const router = useRouter();
const auth = useAuth();

let display = false;

const user = defineProps<{
    user: User;

}>();

async function handleDelete() {
    try {

        await deleteUser(user.user.id);
        router.push('/allUsers');
    } catch {
        console.log('marche pa');

    }
}

async function findUser(id: any) {
    try {
        await fetchOneUser(id);
        display = true
        console.log(display)
        console.log(id);


    } catch {
        console.log("marche pas ");

    }
}


</script>

<style scoped>
#space {
    margin: 2rem;
}

i {
    cursor: pointer;
}

span {
    width: 100%;
}
</style>