
h1,h2,h3,h4 {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
}

h1{
    font-weight: 700;
}
h4{
    font-size: 1.2rem;
}

a.nav-link{
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 600;

}
