<template>

<header>
  <Header></Header>
</header>

<RouterView/>


<Footer></Footer>
</template>

<script setup lang="ts">
import Footer from './components/Footer.vue';
import Header from './components/Header.vue';
import { RouterView } from 'vue-router'


</script>

<style scoped>



</style>